// 320 px (Portrait Phone) width CSS sheet

#about{
	#myphoto{
		margin-right:10px;
		float: left;
	}

}

.contactform{
	width: 100%;
}

h4{
	margin-bottom: 0px;
	text-align:center;
}

#lablist{
	li{
		margin-top: 20px;

		h6{
			font-stretch:narrower;
		}
	}
}

#logo{
	@include box-sizing(border-box);
	display : block;
	margin : auto;
}

.searchform{
	padding-right:10px;

	#search{
		width: 75%;
	}
}

#options{
	margin-right:5px;
	label{
		text-align:right;
	}
}