// 320 px (Portrait Phone) width CSS sheet

#about{
	#myphoto{
		margin:auto;
		float: left;
	}

}

.contactform{
	width: 100%;
}

#logo{
	@include box-sizing(border-box);
	display : block;
	margin : auto;
}

#mainmenu{
	display : table;
	width: 100%;
	margin-bottom : $baselineheight / 2;
	
	ul{
	display : table-row;
	
		li{
		display : table-cell;
		text-align : center;
		}
	}
}

.searchform{
	padding-right:10px;

	#search{
		width: 75%;
	}
}

#options{
	margin-right:5px;
	label{
		text-align:right;
	}
}