// 600 px (Tablet Portrait) width CSS sheet

#about{
	width: 98%;
	
	#myphoto{
		margin-left:10px;
		float:right;
	}
}

section#projects{
	float: left;
	width: 80%;
}

section#labs{
	float:left;
}

#banner .container{
	display: block;
}

.contactform{
	width: 600px;

	#email{
		width: 200px;
	}

	#name{
		width: 150px;
	}

	#subject{
		width: 250px;
	}
}

h4{
	text-align:left;
	margin-bottom: 1em;
}

#lablist{

	li{
		width:30%;
		margin: auto;
		height: 275px;
		vertical-align:top;
		margin-top: 0px;
	}
}

#linklist{
	li{
		display:block;
	}
}

#links{
	float: right;
	width: 18%;
}

#logo{
	float : left;
	margin: auto;
	position : inherit;
}
 
#mainmenu{
	display : block;
	float : right;
	width : auto;
	margin: auto;
	
	li{
		display : block;
		float : left;
		margin : $baselineheight ($baselineheight / 2);
	}
}

.searchform{
	#search{
		width:50%;
		float:right;
	}
	#options{
		text-align:right;
		label{
			display:inline;
			text-align:center;
			margin:0px 2px;
		}
	}
}