// 600 px (Tablet Portrait) width CSS sheet

#banner .container{
	display: block;
}

body#home{
	aside#bar{
		float: right;
		width: 25%;
	}
	
	.searchform{
		width:auto;
		float:none;
		#search{
			width:80%;			
		}

		#searchbarwrapper{
			width:90%;
		}
	}

	section{
		margin:1px;
		#more{
			display:none;
			color:$lightgrey;
			font-size:.7em;
			border:1px solid $lightergrey;
			@include rounded();
			padding: 3px;
			position:static;
		}
	}

	section:hover{
		@include rounded();
		border:1px solid $lightgrey;
		margin:0px;

		#more{
			display:inline;
			float:right;
		}
	}
	
	section#about{
		width: 98%;
		
		#myphoto{
			margin-left:10px;
			float:right;
		}
	}

	section#projects{
		float: left;
		width: 70%;
	}

	section#labs{
		float:left;
	}
}

.contactform{
	width: 600px;

	#email{
		width: 200px;
	}

	#name{
		width: 150px;
	}

	#phone{
		width:200px;
	}

	#subject{
		width: 250px;
	}
}

h4{
	text-align:left;
}

#lablist{
	li{
		width:30%;
		margin: 0% 1.7%;
		vertical-align:top;
	}
	
	li:nth-child(n+4){
		margin-top: 20px;
	}
}

#links{
	padding-left:15%;
}

#linklist{
	li{
		display:block;
	}
}

#logo{
	float : left;
	margin: auto;
	position : inherit;
}
 
#mainmenu{
	display : block;
	float : right;
	width : auto;
	margin: auto;
	
	li{
		display : block;
		float : left;
		margin : $baselineheight ($baselineheight / 2);
	}
}

#pagetitle{
	padding-left:20px;
	text-align:left;

	#searchwrapper{
		width:48%;
		float:right;
		padding-top:0em;
	}
}

.searchform{
	width:60%;
	padding-right:10px;
	float:right;
	#search{
		width:80%;
	}
	#options{
		padding-right:10px;
		label{
			display:block;
			text-align:right;
			margin:0px 2px;
		}
	}
}