// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#about{
	display: table;

	.btn{
		margin: 5px 10px;
		float:right;
	}
}

#labs{
	figure{
		float: left;
		width: 150px;
	}
}

#linklist{
	@include font-size(13);
	color: $linkcolor;
}

#projects li{
	@include rounded(6px);
	@include clearfix();
	@include box-shadow();

	border: 1px solid $grey;
	margin: 20px 0px;
	padding: 10px;

	background-color:#FEFEE6;

	.content-wrapper{
		padding-top:15px;
		padding-left:175px;
	}

	figure{
		width: 150px;
		float: left;
	}
}

#quickcontact{
	padding-top:50px;
	width: 600px;
	margin: auto;

	#message{
		height:120px;
	}
}
