// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#about{
	display: table;

	.btn{
		margin: 5px 10px;
		float:right;
	}
}

#lablist{
	@include clearfix();

	li{
		display: inline-block;
		@include clearfix();
		text-align: left;
		box-sizing:border-box;
		
		@include rounded(6px);
		@include box-shadow();
		
		border: 1px solid $grey;
		padding: 10px;

		min-width: 150px;

		background-color: $lightergrey;

		figure{
			img{
				float: center;
			}
			width: 150px;
			margin-bottom:0px;
			margin:auto;
		}

		h6{
			margin-bottom:2px;
			text-align:center;
		}
	}

	li:first-child{
		margin-left:0px;
	}

	li:last-child{
		margin-right:0px;
	}
}

#linklist{
	@include font-size(13);
	color: $linkcolor;
}

#projectlist {	
	
	li{
		@include rounded(6px);
		@include clearfix();
		@include box-shadow();
		
		border: 1px solid $grey;
		margin: 20px 0px;
		padding: 10px;

		background-color: $lightergrey;

		.content-wrapper{
			padding-top:15px;
			
		}

		figure{
			width: 150px;
			float: left;
			margin-bottom: 0px;
			margin-right: 15px;
		}
	}
}
