// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#about{
	display: table;
	#myphoto{
		padding: 10px;
		padding-top: 0px;
	}

	.btn{
		margin: 5px 10px;
		float:right;
	}
}

#linklist{
	@include font-size(20);
	color: $linkcolor;
}

#projects li{
	@include rounded(6px);
	border: 1px solid black;

	figure{
		float: left;
	}

	p{
		float: left;
	}
}

#quickcontact{
	padding-top:50px;
	width: 600px;
	margin: auto;

	#message{
		height:120px;
	}
}
