// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Page =================================================== */

// 1. ROOT 					==============================

#accessibility{
	margin : 0px;
	padding : 0px;
	position : fixed;
	right : 0px;
	top : 0px;
	background-color : $lightergrey;
	color: $lightgrey;
	@include border-radius(0px, 0px, 7px, 0px);

	li{
		display : inline;
	}
}

aside{
	padding: 10px;
	margin:1px;
	box-sizing:border-box;
}

body {
	margin : 0px;
	padding : 0;
	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor; 
	height: 100%;
	@include font-size();
}

.container{
	@include drop-shadow();
	max-width : 980px;
	margin: 0 auto;
}

html {
	background : $bodycolor;
	font-size : 62.5%;

	@include vertical(#FFFFF0, #FFFFFF);

	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================

img{
	background-color:#555;
	padding:5px;
}

// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
#banner{
	@include clearfix;
	@include basegrad;
	color : $lightergrey;

	a{
			color : inherit;
	}
	
	a:hover{
		color : $lightgrey;
		text-decoration : none;
	}
}

.contactform{
	width: 600px;
	margin: auto;

	#message{
		height:120px;
	}
}

#logo{
	padding : 0px 80px;
	width : 175px;
	height : 60px; 
	background : url(http://web.engr.oregonstate.edu/~junkerd/img/logo-sprite.png) 0 0;
	
	&:hover{
		background : url(http://web.engr.oregonstate.edu/~junkerd/img/logo-sprite.png) 0 61px;
		cursor : hand;
	}
}

#pagetitle{
	@include clearfix();
	padding-left:0px;
	padding-top:10px;
	text-align:center;

	#searchwrapper{
		padding-top:.5em;
		@include clearfix();
		display:block;
		vertical-align:top;
		width:80%;
		margin:auto;
		min-width:200px;
	}

}


.searchform{
	@include clearfix();
	margin:auto;

	#advanced{
		@include clearfix();
		float:right;
		display:inline;
		font-size:16px;
		margin:5px;

		a:hover{
			text-decoration:none;
		}
	}

	#search{
		width:200px;
		padding-left:5px;
		display:inline;
		@include rounded();
	}

	#searchbarwrapper{
		width:90%;
		margin:auto;
		@include clearfix();
	}

	#options{
		font-size:16px;
		float:right;
		width:100%;

		label{
			display:inline;
		}
	}

	input[type=radio]{
		width:10px;
		display:inline;
		float:none;
	}
}

#ticker{
	display: none;
	h6{
		padding : 5px;
		margin-bottom: 0;
		color : lighten($black,10);

		ul{
			margin: 0;
		}
	}
}

section{
	padding: 10px;
	margin:1px;
	box-sizing:border-box;
}

#wrapper{
	height: 100%;
	padding:5px;
}
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================