// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Page =================================================== */

// 1. ROOT 					==============================

#accessibility{
	margin : 0px;
	padding : 0px;
	position : fixed;
	right : 0px;
	top : 0px;
	background-color : $lightergrey;
	color: $lightgrey;
	@include border-radius(0px, 0px, 7px, 0px);

	li{
		display : inline;
	}
}

body {
	margin : 0px;
	padding : 0;
	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor; 
	height: 100%;
	@include font-size();
}

.container{
	max-width : 980px;
	margin: 0 auto;
}

html {
	background : $bodycolor;
	font-size : 62.5%;

	@include vertical($lightgrey, $white);

	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
#banner{
	@include clearfix;
	@include basegrad;
	color : $lightergrey;

	a{
			color : inherit;
	}
	
	a:hover{
		color : $lightgrey;
		text-decoration : none;
	}
}

#logo{
	padding : 0px 80px;
	width : 175px;
	height : 60px; 
	background : url(http://www.engr.oregonstate.edu/~junkerd/design-junkie/img/logo-sprite.png) 0 0;
	
	&:hover{
		background : url(http://www.engr.oregonstate.edu/~junkerd/design-junkie/img/logo-sprite.png) 0 61px;
		cursor : hand;
	}
}

#pagebanner{
	h4{
		padding : 5px;
		margin-left: 15px;
		color : lighten($black,10);
	}
}

.section{
	@include drop-shadow();
	@include rounded(6px);
	background-color: $lightergrey;
	margin: 1%; 
	padding: 5px;
	@include box-sizing(border-box);
}

#wrapper{
	height: 100%;
}
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================